.footer {
  padding-top: pxToRem(20);
  background-color: $color-grey-dark-4;

  &__credits {
    border-top: 1px solid $color-grey-dark-4;

    a {
      color: $color-text-white;
      border-bottom: 1px solid $color-text-white;
    }
    margin: 0;
    padding: pxToRem(14) 0;
    color: $color-text-white;
  }
}
